{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container my-5" style="min-height:68vh">
    <h1 class="my-5">Create new category</h1>
    <div class="form" style="width:30%">

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}" class="fs-4">back to list</a>
    </div>
    </div>
{% endblock %}
