{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Your Cart</h1>
        {# {% if products.items.count > 0 %} #}
            <div class="row mt-4">
                <!-- List of items -->
                <div class="col-md-8"></div>
                <!-- Summary -->
                <div class="col-md-4"></div>
            </div>
        {# {% else %} #}
            <div class="alert alert-info">
                Your cart is empty. Go to the <a href="{{ path('app_shopping_cart') }}">product list</a>.
            </div>
        {# {% endif %} #}
    </div>
{% endblock %}